{{#if video}}
  <div class="videodetail">
    <video src="/assets/videos/{{videoQuality}}/{{video.path}}" onended={{action "videoEnded"}}>
      Your browser does not support HTML5 videos. Please update.
    </video>

    <div class="box">
      <h2>{{video.name}}</h2>
      {{#if video.description}}
        <p>{{video.description}}</p>
      {{/if}}
      <p>Country: {{video.country}}</p>
      <p>Date: {{moment-format video.date 'DD.MM.YYYY'}}</p>
      <p>Latitude: {{video.latitude}}</p>
      <p>Longitude: {{video.longitude}}</p>
      {{#if video.guests}}
        <p>Guests: {{video.guests}}</p>
      {{/if}}
      {{#if video.camera}}
        <p>Camera: {{video.camera}}</p>
      {{/if}}
    </div>
  </div>
{{/if}}
{{yield}}
