{{#if @video}}
  <div class="videodetail">
    {{#if @controls}}
      <video
        src="/assets/videos/{{this.videoQuality}}/{{@video.filename}}"
        {{on "ended" this.videoEnded}}
        controls
        autoplay
        muted
      >
        <track kind="captions" />
        Your browser does not support HTML5 videos. Please update.
      </video>
    {{else}}
      <video
        src="/assets/videos/{{this.videoQuality}}/{{@video.filename}}"
        {{on "ended" this.videoEnded}}
        autoplay
        muted
      >
        <track kind="captions" />
        Your browser does not support HTML5 videos. Please update.
      </video>
    {{/if}}

    <div class="box">
      <h2>{{@video.name}}</h2>
      {{#if @video.description}}
        <p>{{@video.description}}</p>
      {{/if}}
      <p>Country: {{@video.country}}</p>
      <p>Date: <span data-test-video-date>{{format-date @video.date}}</span></p>
      <p>Latitude: {{@video.latitude}}</p>
      <p>Longitude: {{@video.longitude}}</p>
      {{#if @video.guests}}
        <p>Guests: {{@video.guests}}</p>
      {{/if}}
      {{#if @video.camera}}
        <p>Camera: {{@video.camera}}</p>
      {{/if}}
      {{yield}}
      {{#if @video.trips}}
        <p>This video is part of the trips:
          <ul>
            {{#each @video.trips as |trip|}}
              <li><LinkTo
                  @route="trip.overview"
                  @model={{trip.id}}
                >{{trip.name}}
                  {{trip.year}}</LinkTo>
                (<LinkTo @route="trip.start" @model={{trip.id}}>start full trip</LinkTo>,
                <LinkTo
                  @route="trip.display"
                  @models={{array trip.id @video.id}}
                >start at
                  {{@video.name}}</LinkTo>)</li>
            {{/each}}
          </ul></p>
      {{/if}}
    </div>
  </div>
{{else}}
  {{yield}}
{{/if}}