<div class="videodetail">
  <video src="{{model.path}}" controls />

  <div class="box">
    <h2>{{model.name}}</h2>
    {{#if model.description}}
      <p>{{model.description}}</p>
    {{/if}}
    <p>Country: {{model.country}}</p>
    <p>Date: {{model.date}}</p>
    <p>Latitude: {{model.latitude}}</p>
    <p>Longitude: {{model.longitude}}</p>
    <p>People In: {{model.peopleIn}}</p>
    <p>People Out: {{model.peopleOut}}</p>
    {{#if model.guests}}
      <p>Camera: {{model.guests}}</p>
    {{/if}}
    {{#if model.camera}}
      <p>Camera: {{model.camera}}</p>
    {{/if}}
  </div>
</div>
