<div class="box videos">
  <h2>{{this.model.countVideos}} Videos from {{this.model.countCountries}} Countries</h2>
  {{#each this.model.videos as |countryitem|}}
    <div>
      <h3>{{countryitem.country}}</h3>
      {{#each countryitem.videos as |video|}}
        <LinkTo @route="video.display" @model={{video.id}}>{{video.name}}
          ({{moment-format video.date "DD.MM.YYYY"}})</LinkTo>
        <br />
      {{/each}}
    </div>
  {{/each}}
</div>