<div class="box videos">
  <h2>{{ model.countVideos }} Videos from {{ model.countCountries }} Countries</h2>
  {{#each model.videos as |countryitem|}}
    <div>
      <h3>{{countryitem.country}}</h3>
      {{#each countryitem.videos as |video|}}
        <LinkTo @route="video.display" @model={{video.id}}>{{video.name}} ({{moment-format video.date 'DD.MM.YYYY'}})</LinkTo>
        <br />
      {{/each}}
    </div>
  {{/each}}
</div>
