<VideoListing @video={{model.video}} @onEnd={{action "videoEnded"}} @autoplay={{true}}>
  {{#if model.lastVideo}}
    <p>Last video on trip: <LinkTo @route="trip.display" @models={{array model.trip.id model.lastVideo.id}}>{{model.lastVideo.name}}</LinkTo></p>
  {{/if}}
  {{#if model.nextVideo}}
    <p>Next video on trip: <LinkTo @route="trip.display" @models={{array model.trip.id model.nextVideo.id}}>{{model.nextVideo.name}}</LinkTo></p>
  {{/if}}
  <p><a href="#" {{action 'stopTrip'}}>Stop at this video.</a></p>
</VideoListing>
