<VideoListing @video={{this.model.video}} @onEnd={{this.videoEnded}} @autoplay={{true}}>
  {{#if this.model.lastVideo}}
    <p>Last video on trip:
      <LinkTo @route="trip.display" @models={{array this.model.trip.id this.model.lastVideo.id}}>{{this.model.lastVideo.name}}</LinkTo></p>
  {{/if}}
  {{#if this.model.nextVideo}}
    <p>Next video on trip:
      <LinkTo @route="trip.display" @models={{array this.model.trip.id this.model.nextVideo.id}}>{{this.model.nextVideo.name}}</LinkTo></p>
  {{/if}}
  <p><a href="#" {{on "click" this.stopTrip}}>Stop at this video.</a></p>
</VideoListing>