<div class="box">
  <h2>Select a Trip</h2>
  {{#each this.model as |trip|}}
    <p>
      <LinkTo @route="trip.overview" @model={{trip.id}}>{{trip.name}}
        {{trip.year}}</LinkTo>
      ({{#each trip.videos as |video index|}}
        {{if index "-"}}
        {{video.name}}
      {{/each}}
      {{#unless trip.finished}} - and more to come... {{/unless}})
    </p>
  {{/each}}
</div>